.portfolio__list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0px 0px 125px 0px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .portfolio__list {
        margin: 0px 0px 90px 0px;
    }
}

@media screen and (max-width: 320px) {
    .portfolio__list {
        margin: 0px 0px 70px 0px;
    }
}
