.portfolio__link {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }
}

@media screen and (max-width: 320px) {
    .portfolio__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
}
