.portfolio__list-item {
    padding: 20px 0px 19px 0px;
    border-bottom: 1px solid #E8E8E8;
;
}
.portfolio__list-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.portfolio__list-item:first-child {
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 19px;
}

.portfolio__list-item:hover {
    cursor: pointer;
    opacity: 0.7;
}
