.about-me__git{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 101px;
}

@media screen and (max-width: 768px) {
    .about-me__git{
        margin-bottom: 91px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__git{
        margin-bottom: 70px;
    }
}
