@import './css/card__group.css';
@import './css/card__header-text.css';
@import './css/card__save-button.css';
@import './css/card__title.css';
@import './css/card__movie-time.css';
@import './css/card__image.css';
@import './css/card__delete-button.css';

.card {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*overflow: hidden;*/
    position: relative;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
