.movies__btn-more {
    width: 320px;
    height: 36px;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin: 80px auto 80px auto;
    cursor: pointer;
    padding: 0px;

}

.movies__btn-more:hover {
    opacity: 0.5;
}


@media screen and (max-width: 320px) {
    .movies__btn-more {
        max-width: 240px;
    }
}
