.search__input {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    border: none;
    outline: none;
    padding: 0px;
    width: 90%;
    margin: 25px 0px 25px 25px;
}

@media screen and (max-width: 320px) {
    .search__input {
        font-size: 16px;
        line-height: 16px;
        margin: 20px 0px 20px 12px;
        width: 70%;
    }
}
