.search__btn {
    background: #FF6838;
    border-radius: 5px;
    text-align: center;
    margin: 10px 10px 10px 0px;
    padding: 17px 20px 17px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
}

@media screen and (max-width: 320px) {
    .search__btn {
        width: 80px;
        margin: 6px 6px 6px 0px;
        padding: 13px 10px 13px 10px;
    }
}
