.search__checkbox {

}
input[type="checkbox"].search__checkbox {
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 20px;
    background: #EBEBEB;
    border-radius: 20px;
    outline: none;
    transition: all .3s ease-in-out .1s;
}

input[type="checkbox"].search__checkbox:checked {
    background: #2BE080;
}

input[type="checkbox"].search__checkbox:after {
    top: 2px;
    right: 19px;
    bottom: 2px;
    left: 2px;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #F5F5F5;
    content: "";
    transition: all .3s ease-in-out .1s;
}

input[type="checkbox"].search__checkbox:checked:after {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 19px;

    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
}
