.search__form {
    position: relative;
    /*opacity: 0.2;*/
    padding: 0px;
    border: 1.5px solid #AAAAAA;
    border-radius: 8px;
    max-width: 1140px;
    height: 72px;
    margin: 70px 70px 100px 70px;
}

@media screen and (max-width: 768px) {
    .search__form {
        max-width: 708px;
        height: 72px;
        margin: 70px 30px 108px 30px;
    }
}

@media screen and (max-width: 320px) {
    .search__form {
        max-width: 292px;
        height: 56px;
        margin: 70px 14px 124px 14px;
    }
}
