.movies__btn-more {
    max-width: 320px;
    height: 36px;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 11px 160px 9px 160px;
    margin: 50px 352px 80px 352px;
}

@media screen and (max-width: 768px) {
    .movies__btn-more{
     margin: 50px 224px 80px 224px;

    }
}

@media screen and (max-width: 320px) {
    .movies__btn-more{
        max-width: 240px;
        height: 36px;
        padding: 11px 120px 9px 120px;
        margin: 50px 40px 80px 40px;

    }
}
