.nav-tab__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px auto 30px auto;
    padding: 0px;
}

@media screen and (max-width: 320px) {
    .nav-tab__container {
        gap: 6px;
        margin: 0px 17px 17px 17px;
    }
}
