.promo__container-element {
    width: 96px;
    height: 36px;
    background: #E8E8E8;
    border-radius: 10px;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .promo__container-element {
        width: 82px;
        height: 26px;
    }
}
