.techs__container-title {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 90px 340px 26px 340px;
}

@media screen and (max-width: 768px) {
    .techs__container-title{
        margin: 80px 84px 22px 84px;
    }
}

@media screen and (max-width: 320px) {
    .techs__container-title{
        margin: 60px 14px 24px 14px;
        font-size: 30px;
        line-height: 36px;
    }
}
