.about-project__progress {
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: 36px 36px;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 110px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .about-project__progress {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 90px;
        grid-template-columns: 140px 1fr;
        grid-template-rows: 36px 36px;
    }
}

@media screen and (max-width: 320px) {
    .about-project__progress {
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 70px;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 35px 35px;
    }
}
