.card__save-button {
    border: 0;
    background-color: transparent;
    background-image: url(../../../../images/flag_btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 19px 14px 19px 0px;
    padding: 10px;
    width: 30px;
    height: 30px;
    transition: opacity .2s linear;
}
.card__save-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__save-button_active {
    background-image: url(../../../../images/flag_btn_active.svg);
    transition: opacity .2s linear;
}
