.login__button-enter {
    background-color: #FF6838;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin:196px 0px 16px 0px;
    padding: 0;
    width: 396px;
    height: 45px;
    border: none;
    /*max-width: 396px;*/
}

.login__button-enter:hover {
    opacity: 0.8;
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .login__button-enter {
        margin: 196px auto 14px auto;
    }
}

@media screen and (max-width: 320px) {
    .login__button-enter {
        font-size: 12px;
        line-height: 15px;
        width: 260px;
        max-width: 260px;
        margin: 293px auto 14px auto;
    }
}
