.navigation__popup-opened {
    align-items: center;
    margin: auto 0;
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 10;
}

@media screen and (max-width: 320px) {
    .navigation__popup-opened {
        width: 100%;
    }
}
