@import 'css/login__logo.css';
@import 'css/login__form.css';
@import 'css/login__title.css';
@import 'css/login__field.css';
@import 'css/login__text.css';
@import 'css/login__button-enter.css';
@import './css/login__question.css';
@import './css/login__link-entry.css';

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0px 70px 0px;
}

@media screen and (max-width: 768px) {
    .login {
        margin: 232px 0px 232px 0px;
    }
}

@media screen and (max-width: 320px) {
    .login {
        margin: 56px 0px 30px 0px;
    }
}
