.profile__field {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.profile__field:first-of-type {
    border-bottom: 1px solid #E8E8E8;

}
