.profile__button-logout {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    margin: 0px auto 70px auto;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.profile__button-logout:hover{
    opacity: 0.5;
}

@media screen and (max-width: 320px) {
    .profile__button-logout {
        font-size: 12px;
        line-height: 15px;
        margin: 0px auto 40px auto;
    }
}
