.profile__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 401px;
    paddind: 0;
}

@media screen and (max-width: 320px) {
    .profile__form {
        max-width: 260px;
    }
}
